.tou{
    width: 100%;
    background: #b40431;
    height: 30px;
}
.c-tou{
    padding-top: .58em;
    font-weight: 600;
}
.nav-pills{
    margin-top: 30px;
}
.btn-danger{
    border-radius:50px;
}
.btn-danger a{
    color: aliceblue;
}

.d10{

    height:500px;
}
/*.lain{
    padding: 10px;
}*/
.lain a{
    cursor: pointer;
    color: #222222;
}
.aaa{
    color: #222222;
}
.uli ul{
    list-style-type: disc;
}

.uli ul li{
    list-style-type: disc;
}
 .d10 li{
    margin-left: -55px;
    display: block;
    padding: 50px;
    color: #666;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
}
 .d11{
     height: 100px;
     margin-top: 20px;
     margin-left: 30px;
     border: 1px solid #BBBBBB;

 }
 .d11 img{
     display: block;
     float: left;
     margin-top: 40px;
 }
.biao {
    margin-top: 45px;
    display: block;
   float: left;
    border: none;
}
footer{
    margin-top: 20px;
    background: #222;
    height: 55px;
}
.dz{
    margin-top: 20px;
    display: block;
    float: left;
    color: #ffffff;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: left;
}
.dy{
    display: block;
    float: left;
}
.d1{
    margin-top: 20px;
    color: white;
    font-size: 19px;
    margin-left: 31px;
}
