
.video-top{
    margin: 0px;
    z-index: -1;
    width: 100%;
    overflow: hidden;
}
a:hover {
    text-decoration: none;
}
h3{
    font-size: 22px;
    color: #fff;
}

.et_pb_slide_description .et_pb_slide_title {
    margin-top: 20px;
    font-weight: 700 ;
    font-size: 63px;
    line-height: 1.2em;

}
.et_pb_slide_description .et_pb_slide_title a{
    margin-top: 20px;
    font-weight: 700 ;
    font-size: 63px;
    line-height: 1.2em;
    color: #fff;
}
.content{
    text-align: center;
    list-style: none;
    position: absolute;
    top: 270px;
}

h2{
    color: #fff;
}
span{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #fff;
}

.et_pb_button {
    margin-top: 10px;
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em ;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    color: #fff;
    }
.list{
    height: 810px;
    background-image: linear-gradient(333deg,#b40431 52%,#ffffff 0%);
}
h1{
    font-size: 40px;
}
.good{
    display: block;
    float: left;
    width: 320px;
    height: 460px;
    background: white;
    border-radius: 8px;
}
.good:first-child{
    margin-left: 0px;
}
.good:nth-child(2){
    margin-left: 60px;
}
.good:last-child{
    margin-left: 60px;
}
.jieshao{
    margin-left: 15px;
    margin-top: 19px !important;
    font-size: 18px !important;
    line-height: 1.4;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xingxing{
    margin-left: 15px;
}
.kuo{
    font-weight: bold;
    margin-left: 4px;
    font-size: 14px;
    color: #BBB;
}
.price{
    font-size: 16px;
    margin-left:15px;
    color: #79c989;
    font-weight: bold;
}
.tutu{
    display: block;
    float: left;
    border-radius: 50%;
}
.wenzi{
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}
.yuanyin{
    margin-top: 80px;
}
.desc{
    display: block;
    float: left;
    width:320px;
    height:206px;
    margin-top: 15px;
}
.desc:first-child{
    margin-left: 0px;
}
.desc:nth-child(2){
    margin-left: 60px;
}
.desc:last-child{
    margin-left: 60px;
}
.desc .s1{
    width: 98px;
    height: 98px;
    display: block;
    border-radius: 50%;
    background: #b40431;
    padding: 20px;
}
.s2{
    display: block;
    font-size: 50px;
}
.deep{
    margin-top: 25px;
}
.deep1{
    color: #777;
}
.xiatu{
    margin-top: 60px;
    width: 100%;
    height: 197px;
    background: #b40431;
    padding: 60px;
}
.zizi{
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.xz{
    margin-top: 30px;
    text-align: center;
    /*position: relative;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em ;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    color: #fff;
  }
.xz a{

    color: #fff;
    border: 2px solid;
    padding: .3em 1em;
}
.meinv{
    width: 320px;
    height: 290px;
    background: #f4f4f4;
    display: block;
    float: left;
}
.meinv:first-child{
    margin-left: 0px;
}
.meinv:nth-child(2){
    margin-left: 60px;
}
.meinv:last-child{
    margin-left: 60px;
}
.meitu{
    margin-left: 110px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.ls{
    width: 260px;
    margin-top:30px;
    margin-left: 15px;
}
.meizi{

    padding: 10px;
    display: block;
    color: #777777;
   font-size: 15px;
}
.ls p{

    display: block;
    color: #777777;
   }
.binlu{
    display: block;
    margin-top: 10px;
    margin-left: 13px;
}
h4{
    color: #fff;
}
.y4{
    text-align: center;
}
.eam{
    height: 334px;
    background: #f5f5f5;
    padding: 45px;
}
.qwe{
    display: block;
    float: left;
    padding: 13px;
    height: 260px;
    width: 712px;
    background: white;
}
.sub h2{
    font-weight: 500;
    font-size: 24px;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    margin-left: 3px;
    width: 412px;
    display: block;
    float: left;
    color: black;
}
.sub p{
    width: 412px;
    display: block;
    float: left;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.6em;
    font-size: 14px;
    margin-top: 0.5em;
}
.rty{
    margin-left: 2px;
    width: 426px;
    display: block;
    float: left;
    height: 74px;
    background: #b40431;
}
.si input{
    border-radius: 6px;
    margin-top: -10px;
    margin-left: 60px;
    width: 307px;
    height: 40px;
    background: white;
    border: 1px solid #BBBBBB;
}
/*.si p input{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
   margin-bottom: 15px;
}*/
.xi{
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    width: 307px;
    height: 40px;
    background: white;
    border-radius: 6px;
}
