---
layout: home
name: "show"
---
<div class="container" style="height: 1650px">
    <div class="col-md-10 d10">
        <div class="col-md-10">
            <h1>
                {{page.title}}
            </h1>
            <p class="lain">
                <a href="" class="aaa" style="color: #222222">
                    {{ post.date | date_to_string }}
                </a>
            </p>
        </div>
        <img src="/images/cherry-1995534_640.jpg" alt="" class="col-md-10" width="100%">
        <div style="height: 100px"></div>
        <div class="col-md-10">
            <p style="color: #666;">Cherries are well known anti-oxidants. Nullam quis enim justo. Nulla facilisi. Aliquam eu cursus diam, in laoreet enim. Vivamus sagittis, tortor sit amet tristique tempus, odio turpis consequat nibh, sit amet iaculis nulla metus non lorem. Maecenas arcu dui, porta ut sem eu, semper rutrum ex. Proin eget faucibus arcu. Donec et mi blandit, euismod ipsum id, imperdiet tortor. Pellentesque fringilla lorem tincidunt enim efficitur, ut aliquet augue ultricies. Sed dignissim porttitor suscipit. Praesent hendrerit ante eget lacinia pharetra. Aenean lobortis, sapien ac placerat convallis, purus mi luctus est, ut malesuada sem ex id ex. Suspendisse ut euismod leo. Vivamus quis nibh nisl. Morbi vel tincidunt ex. Quisque tincidunt eleifend turpis, ac tristique enim viverra quis. Suspendisse iaculis quam nec justo vestibulum cursus.
            </p>
        </div>
        <div  class="col-md-10 uli">
            <ul>
                <li>Aenean ut vulputate odio. Praesent tempor nisl quis lorem suscipit, hendrerit dictum massa sagittis. Cras pharetra purus dui, non maximus libero pharetra vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer velit massa, tempor hendrerit nisi id, tincidunt commodo nulla. Pellentesque vehicula in libero at ullamcorper. Mauris in tempor odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam ut mauris dolor. Vivamus porta dui massa, id consequat odio volutpat quis. Aenean bibendum risus varius, rutrum massa vel, pellentesque tortor
                </li>

                <h3>Leave a Reply</h3>
                <hr>
            </ul>
        </div>

    </div>
    <hr>
</div>

<div class="container" >
    <div class="col-md-8 d11">
        <img src="/images/none.jpg" alt="">
        <input  class="biao" type="text" placeholder="Start the discussion..." style="width: 600px">
    </div>
</div>